@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* Hide time input icon but keep it clickable */
  input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0; /* hides icon visually */
    position: absolute; /* allows customizing hit area */
    right: 0; /* keep it aligned */
    width: 100%; /* MUCH IMPORTANT: make whole input clickable */
    height: 100%;
    cursor: pointer;
  }
}
